{% extends "base.html" %}
{% load static %}

{% block stuart %}
<body>

<div class="row">

    <div>
        <div id="chart">
            <h4>Number of MDA Sites Connected to Various Services</i></h4>

            <script type="text/javascript">
    var svg = dimple.newSvg("#chart", 600, 400);
    var data = [
      { "Service":"Internet", "Number":{{internet}} },
      { "Service":"Leased MDA", "Number":{{leased_mda}} },
      { "Service":"Leased IFMS", "Number":{{leased_ifms}} },
      { "Service":"Dark Fibre", "Number":{{dark_fibre}} }
    ];
    var chart = new dimple.chart(svg, data);
    chart.addCategoryAxis("x", "Service");
    chart.addMeasureAxis("y", "Number");
    chart.addSeries(null, dimple.plot.bar);
    chart.draw();

            </script>
            <h6>Number of MDA Sites = {{total}} </i></h6>
        </div>
    </div>
    <div>
        <div id="chartContainer">
            <h4>Percentage of MDA Sites Connected to Various Services</i></h4>

            <script type="text/javascript">

    var svg2 = dimple.newSvg("#chartContainer", 600, 400);
    var data = [
      { "Service":"Internet", "Count":{{internet}} },
      { "Service":"Leased MDA", "Count":{{leased_mda}} },
      { "Service":"Leased IFMS", "Count":{{leased_ifms}} },
      { "Service":"Dark Fibre", "Count":{{dark_fibre}} }
    ];
      var myChart = new dimple.chart(svg2, data);
      myChart.setBounds(20, 20, 460, 360)
      myChart.addMeasureAxis("p", "Count");
      var ring = myChart.addSeries("Service", dimple.plot.pie);
      ring.innerRadius = "50%";
      myChart.addLegend(500, 20, 90, 300, "left");
      myChart.draw();


            </script>
        </div>
    </div>
</div>

<div style="margin-top: 40px">
    <div id="MapBlock">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet'/>

        <style>
      body
      {
        margin: 0;
        padding: 0;
      }

      #map
      {
        position: relative;
        width:100%;
        height: 40%
      }

      .marker
      {
      background-image: url('/static/mapbox-icon.png');
      background-size: cover;
      width: 30px;
      height: 30px;
      border-radius: 70%;
      cursor: pointer;
      }

        </style>
    </div>

    <h4>
        <center>Location of Connected MDA Sites</center>
        </i></h4>

    <div id='map' style='width: 100%; height: 540px;'></div>

    <script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoic3R1YXJ0bXVqdXppIiwiYSI6ImNrNmxzeDFsajA3aG4zZm9oMHRkenR2NXAifQ.ZELsHoiwPz7Pqv955IEqPg';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    //style: 'mapbox://styles/mapbox/satellite-streets-v11',
    center: [32.3, 1.37],
    zoom: 6

  });

 // ************************* TESTING COLOUR CODING *****************************

var geojson = {
  type: 'FeatureCollection',
  features: [
  {% for nbi in map %}
  {% if nbi.latitude and nbi.longitude %}
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [{{nbi.longitude}}, {{nbi.latitude}}]
    },
    properties: {
      title: 'Mapbox',
      description: '{{nbi.mda_site}}'
    }
  },
  {% endif %}

  {% endfor %}
  ]
  };


// add markers to map
geojson.features.forEach(function(marker) {

  // create a HTML element for each feature
  var el = document.createElement('div');
  el.className = 'marker';

  // make a marker for each feature and add to the map
  new mapboxgl.Marker(el)
    .setLngLat(marker.geometry.coordinates)
    .addTo(map);
});

 //************************* TESTING COLOUR CODING *****************************

    </script>


</div>

</body>


{% endblock stuart %}