{% extends "base.html" %}
{% load static %}
{% block stuart %}
<div class="container-fluid" style="margin-top:-10px">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/dashboard/">
                            <span data-feather="home"></span>
                            Graph <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboardchart/">
                            <span data-feather="file"></span>
                            Pie Chart
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboardmap/">
                            <svg class="bi bi-chevron-right" width="15"
                                 height="15" viewBox="0 0 20 20" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                                      clip-rule="evenodd"/>
                            </svg>
                            <span data-feather="shopping-cart"></span>
                            Map
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
<!--                <div class="btn-toolbar mb-2 mb-md-0">-->
<!--                    <div class="btn-group mr-2">-->
<!--                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>-->
<!--                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>-->
<!--                    </div>-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
<!--                        <span data-feather="calendar"></span>-->
<!--                        This week-->
<!--                    </button>-->
<!--                </div>-->
            </div>
            <!--      TESTING -->


            <div>
                <div id="MapBlock">

                    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
                    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
                    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet'/>

                    <style>
      body
      {
        margin: 0;
        padding: 0;
      }

      #map
      {
        position: relative;
        width:100%;
        height: 40%
      }

      .marker
      {
      background-image: url('/static/mapbox-icon.png');
      background-size: cover;
      width: 30px;
      height: 30px;
      border-radius: 70%;
      cursor: pointer;
      }




                    </style>
                </div>

                <h4>
                    <left>Locations of Connected MDA Sites</left>
                    </i></h4>

                <div id='map' style='width: 80%; height: 500px;'></div>

                <script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoic3R1YXJ0bXVqdXppIiwiYSI6ImNrNmxzeDFsajA3aG4zZm9oMHRkenR2NXAifQ.ZELsHoiwPz7Pqv955IEqPg';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    //style: 'mapbox://styles/mapbox/satellite-streets-v11',
    center: [32.3, 1.37],
    zoom: 5.5

  });

 // ************************* TESTING COLOUR CODING *****************************

var geojson = {
  type: 'FeatureCollection',
  features: [
  {% for nbi in map %}
  {% if nbi.latitude and nbi.longitude %}
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [{{nbi.longitude}}, {{nbi.latitude}}]
    },
    properties: {
      title: '{{nbi.mda}}',
      description: '{{nbi.mda_site}}'
    }
  },
  {% endif %}

  {% endfor %}
  ]
  };


// add markers to map
geojson.features.forEach(function(marker) {

  // create a HTML element for each feature
  var el = document.createElement('div');
  el.className = 'marker';

  // make a marker for each feature and add to the map
  new mapboxgl.Marker(el)
    .setLngLat(marker.geometry.coordinates)
    .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    .setHTML('<h6>' + marker.properties.title + '</h6><p>' + marker.properties.description + '</p>'))
    .addTo(map);
});

 //************************* TESTING COLOUR CODING *****************************
                </script>


            </div>


            <!--      TESTING -->

        </main>
    </div>
</div>

{% endblock stuart %}