<style>

    .nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: #b3ee3a;
  border-bottom-color: #b3ee3a;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}







</style>


<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom box-shadow">
    <!--    <h5 class="my-0 mr-md-auto font-weight-normal text-white">NBI</h5>-->
    <img class="my-0 mr-md-auto" src="/static/nita.png" alt="Simply Easy Learning" width="200"
         height="70">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        {% if request.user.is_authenticated %}
        <p class="m-auto" style="color:white">Hello {{request.user.username}}</p>
        {% endif %}
    </h5>
    <nav class="nav nav-masthead">

        {% if request.user.is_authenticated %}

        {% if request.user.is_admin %}

        <a class="nav-link active" href="/home/">Home</a>
        <a class="nav-link active" href="{% url 'account' %}">Account</a>
        <a class="nav-link active" href="/records/">Connections</a>
        <a class="nav-link active" href="/charts/">Charts</a>
        <a class="nav-link active" href="{% url 'logout' %}">Logout</a>

        {% else %}
        <a class="nav-link active" href="/home/"> Home </a>
        <a class="nav-link active" href="{% url 'account' %}">Account</a>
        <a class="nav-link active" href="/records_user/">Connections</a>
        <a class="nav-link active" href="/charts/">Charts</a>
        <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
        {% endif %}


        {% else %}
        <a class="nav-link active" href="{% url 'home' %}"> Home </a>
        <a class="nav-link active" href="{% url 'register' %}"> Register </a>
        <a class="nav-link active" href="{% url 'login' %}"> Login </a>
        {% endif %}


    </nav>
    <!--    <a class="btn btn-outline-primary" href="#">Sign up</a>-->
</div>

